In [1]:
import pandas as pd

In [2]:
pd.DataFrame

pandas.core.frame.DataFrame

In [3]:
orca_data = {'Pod 1': [2, 5, 13], 'Pod 2': [3, 3, 7], 'Pod 3': [2, 14, 5]}

In [4]:
df_orca = pd.DataFrame(orca_data)
df_orca

   Pod 1  Pod 2  Pod 3
0      2      3      2
1      5      3     14
2     13      7      5

In [5]:
df_orca.head()

   Pod 1  Pod 2  Pod 3
0      2      3      2
1      5      3     14
2     13      7      5

In [7]:
df_orca.index

RangeIndex(start=0, stop=3, step=1)

In [10]:
df_orca['Pod 1']

0     2
1     5
2    13
Name: Pod 1, dtype: int64

In [18]:
df_orca.iloc[0]

Pod 1    2
Pod 2    3
Pod 3    2
Name: 0, dtype: int64

In [20]:
df_orca.to_csv('df_orca.csv')

In [21]:
ls

In Class 1.29.ipynb            cces_example_data.csv
Khalifa_PandasChallenge.ipynb  df_orca.csv
Khalifa_SystemsCheck.ipynb     subset_cces_example_data.csv
Panda Practice.ipynb

**Why are dynamic, interactive data visualizations useful when communicating data?**

Interactive data visualizations are useful when communicating data because they empower people to explore data for themselves. Following the mantra, these types of visuals allow viewers to gather an overview then explore further and really intake the information at their own pace. Along with making this data more engaging for others, it also makes it more accessible for different audiences.